/*Main stylesheet for Backtop jQuery Plugin */
#backTop{
    width:35px;
    height:35px;
    padding:10px;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
    display:none;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
#backTop.black{
     background:url(../ico/up.png) no-repeat center center rgba(0,0,0,0.8); 
    border:1px solid #ccc;
}
#scrollBtm {
    width:35px;
    height:35px;
    padding:10px;
    position:fixed;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    background:url(../ico/down.png) no-repeat center center rgba(0,0,0,0.8); 
    border:1px solid #ccc;
    bottom:20px;
    right:40px;
	outline:none!important;
}
