{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}

    <b>ServersManagment</b> - "mini-jenkins" WebUI tool.
    <br><br>
    
    <b>Details - </b> <a class="btn btn-primary" href="https://github.com/greatehop/serversmanagement">GitHub</a>
    <br><br>

    <b>How to use</b>
    <br><br>
    <img src="/static/ico/howtorun.gif">

    <br><br>
    <b>Links</b>
    <br><br>
    <ul id="old">
        <li>
            old MOS ISO
            <a href="http://9f2b43d3ab92f886c3f0-e8d43ffad23ec549234584e5c62a6e24.r60.cf1.rackcdn.com/MirantisOpenStack-6.1.iso">6.1</a> /
            <a href="http://9f2b43d3ab92f886c3f0-e8d43ffad23ec549234584e5c62a6e24.r60.cf1.rackcdn.com/MirantisOpenStack-7.0.iso">7.0</a> /
            <a href="http://9f2b43d3ab92f886c3f0-e8d43ffad23ec549234584e5c62a6e24.r60.cf1.rackcdn.com/MirantisOpenStack-8.0.iso">8.0</a> 
        </li>
        <li><a href="http://product-jenkins-reports.vm.mirantis.net/">jenkins reports</a></li>
        <li><a href="https://product-ci.infra.mirantis.net/">product CI</a></li>
        <li><a href="https://software.mirantis.com/releases/#supported">MOS releases</a></li>
    </ul>
    
{% endblock %}
