{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div align="center">

{#
<h3>User info</h3>

{{ g.user.name }} {{ g.user.email }}
<br><br>
#}

<h3>Fast links</h3>

<a class="btn btn-success" href="/tasks/1">deploy mos</a> |
<a class="btn btn-danger" href="/tasks/2">clean mos</a><br>
<br>

{% if run_list %}
    <h3>Your runs</h3>
    <table class="table table-hover table-striped table-bordered table-center" style="max-width:50% !important; margin:0 auto !important;">

        <tr align="center">
            <td><b>#</b></td>
            <td><b>State</b></td>
            <td><b>Task</b></td>
            <td><b>Server</b></td>
            <td><b>Start date/time</b></td>
        </tr>

        {% for run in run_list %}
        <tr align="center">
            <td><a href="/runs/{{ run.id }}">#{{ run.id }}</a></td>
            <td>
                {% if run.state == '0' %}
                    <font color="orange">in_queue</font>
                {% elif run.state == '1' %}
                    in_progress<br>
                    <div id='loader'><img src="/static/ico/loader.gif"/></div>
                {% elif run.state == '2' %}
                    <font color="green">done</font>
                {% elif run.state == '3' %}
                    <font color="red">canceled</font>
                {% else %}
                    removed
                {% endif %}
             </td>

             <td>{{ run.task.taskname }}</td>
             <td>
                 {% if run.server.id %}
                     {{ run.server.alias }}
                 {% else %}
                     -
                 {% endif %}
             </td>

             <td>
                 {{ run.start_datetime.strftime('%H:%M:%S %d.%m.%Y') }}
             </td>
         </tr>
        {% endfor %}
    </table>
{% endif%}

</div>

{% endblock %}
