{% extends "base.html" %}

{% block js %}

    <script src="/static/js/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/run{{ run.id }}');

            socket.on('line', function(msg) {
                 $('#cmd_out').append('<br>' + $('<div/>').html(msg.data).html());
            });

            // forse update page info
            socket.on('stop', function(msg) {

                location.reload();

                /* TODO(hop): need fix
                var link = document.createElement('link');
                link.type = 'image/x-icon';
                link.rel = 'shortcut icon';
                link.href = 'favicon_new.ico';
                document.getElementsByTagName('head')[0].appendChild(link);

                //document.title = 'Finished';

                //$("#loader").hide();

                */
            });

        });
    </script>

{% endblock %}

{% block title %}
    <a href="/runs">Runs</a> - run details
{% endblock %}

{% block body %}

    {% if run %}

        <div align="center">
            <div class="row-fluid">
            <div class="span6">
            <h3>Run's info</h3>
        <table class="table table-hover table-striped table-bordered" style="max-width:100%; margin:0 auto !important;">

            <tr>
                <td><b>Run's ID</b></td>
                <td> {{ run.id }} </td>
            </tr>

            <tr>
                <td><b>Task</b></td>
                <td>{{ run.task.taskname }}</td>
            </tr>

            <tr>
                <td><b>State</b></td>
                <td>
                  {% if run.state == '0' %}
                      <font color="orange">in_queue</font>
                  {% elif run.state == '1' %}
                      in_progress
                  {#
                      {% if g.user.is_admin or g.user.name == run.user.name %}
                      <form action="/kill/{{ run.args.pid }}" method="post">
                        <input class="btn btn-danger" type="submit" value="cancel">
                      </form>
                      {% endif %}
                  #}
                  {% elif run.state == '2' %}
                      <font color="green">done</font>
                  {#
                      {% if run.task.taskname == "deploy_mos" %}
                          {% if g.user.is_admin or g.user.name == run.user.name %}
                          <form action="/run/{{run.id}}" method="post">
                            {{ form.hidden_tag() }}
                            <input class="btn btn-danger" type="submit" value="clean">
                          </form>
                          {% endif %}
                      {% endif %}
                  #}
                  {% elif run.state == '3' %}
                      <font color="red">canceled</font>
                  {% else %}
                      removed
                  {% endif %} </td>
            </tr>

            <tr>
                <td><b>Server</b></td>
                <td>
                    {% if run.server.id %}
                        {{ run.server.alias }} / {{ run.server.ip }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td><b>User</b></td>
                <td>
                    {{ run.user.name }}
                </td>
            </tr>

            <tr>
                <td><b>Start date/time</b></td>
                <td>
                    {{ run.start_datetime.strftime('%H:%M:%S %d.%m.%Y')}}
                </td>
            </tr>

            <tr>
                <td><b>End date/time</b></td>
                <td>
                    {% if run.end_datetime %}
                        {{ run.end_datetime.strftime('%H:%M:%S %d.%m.%Y') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td><b>Run's duration</b></td>
                <td>
                    {% if run.end_datetime %}
                    {# TODO: fix format #}
                        {{ run.end_datetime-run.start_datetime }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </table>
        </div>

        <div class="span6">
        <h3>Task's arguments</h3>
        <a id="scrollBtm">Scroll Bottom</a>

        {% if run.args %}
        <table class="table table-hover table-striped table-bordered" style="max-width:100%; margin:0 auto !important;">

            <tr>
                <td><b>deploy_name</b></td>
                <td>{{ run.args.deploy_name }}</td>
            </tr>

            {% if run.task.taskname == "deploy_mos" %}
            <tr>
                <td><b>url</b></td>
                <td>{{ run.args.iso_url }}</td>
            </tr>

            <tr>
                <td><b>nodes_count</b></td>
                <td>{{ run.args.nodes_count }}</td>
            </tr>

            <tr>
                <td><b>slave_node_memory</b></td>
                <td>{{ run.args.slave_node_memory }}</td>
            </tr>

            <tr>
                <td><b>slave_node_cpu</b></td>
                <td>{{ run.args.slave_node_cpu }}</td>
            </tr>

            {% if run.args.ironic_nodes_count %}
            <tr>
                <td><b>ironic_nodes_count</b></td>
                <td>{{ run.args.ironic_nodes_count }}</td>
            </tr>
            {% endif %}

            {#
            <tr>
                <td><b>keep_days</b></td>
                <td>{{ run.args.keep_days }}</td>
            </tr>
            #}
            {% endif %}

        </table>
        {% else %}
            None
        {% endif %}
        </div>
        </div>
        </div>
        <br>

        <div align="center"><h3>Task's output</h3><br></div>
        <div style="border:1px solid #DDD; padding:10px;">
        {% if run.cmd_out %}
            <div align="left">
                {{ run.cmd_out | safe }}
            </div>
            {% else %}
                <div align="left" id="cmd_out"></div>
                {% if run.state == '1' %}
                    <div id="loader" align="center">
                        <img src="/static/ico/loader.gif"/>
                    </div>
                {% endif %}
        {% endif %}
        </div>

        {% else %}
            <div class="center">
                <h3>Wrong run id!</h3>
            </div>
    {% endif %}
{% endblock %}
