{% extends "base.html" %}


{% block title %}Servers{% endblock %}

{% block body %}

<div align="center">
    <h3>Add server</h3>
    <form action="/servers" method="post">
    {{form.hidden_tag()}}
    <table class="table table-hover table-striped table-bordered" style="max-width:30% !important; margin:0 auto !important;">

    <tr>
        <td><b>IP:</b></td>
        <td>
            {{ form.ip(size=15) }} *
            {% if form.ip.errors %}<br>
                <font color="red">{{ form.ip.errors | join(', ') }}</font>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td><b>Alias:</b></td>
        <td>
            {{ form.alias(size=120) }} *
            {% if form.alias.errors %}<br>
                <font color="red">{{ form.alias.errors | join(', ') }}</font>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td><b>Is active:</b></td>
        <td>{{ form.is_active }}</td>
    </tr>

    <tr>
        <td><b>Max tasks:</b></td>
        <td>
            {{ form.max_tasks }} *
            {% if form.max_tasks.errors %}<br>
                <font color="red">{{ form.max_tasks.errors | join(', ') }}</font>
            {% endif %}
        </td>
    </tr>

    </table>
    <br><p><input type="submit" value="add" class="btn btn-success"></p>
    </form>
</div>

<div align="center">
    {% if server_list %}
        <h3>All servers</h3>
        <table class="table table-hover table-striped table-bordered table-center" style="max-width:50% !important; margin:0 auto !important;">

        <tr>
            <td><b>#</b></td>
            <td><b>IP</b></td>
            <td><b>Alias</b></td>
            <td><b>State</b></td>
            <td><b>Max tasks</b></td>
            <td><b>Cur tasks</b></td>
        </tr>

        {% for server in server_list %}
         {% if not server.state %}
        <tr class="error">
            {% elif server.max_tasks >= server.cur_tasks %}
        <tr class="warning">
            {% else %}
        <tr>
            {% endif %}

            <td><a href="/servers/{{ server.id }}">#{{ server.id }}</a></td>

            <td>{{ server.ip }}</td>

            <td>{{ server.alias }}</td>

            <td>{% if server.state %} on {% else%} off {% endif %}</td>

            <td>{{ server.max_tasks }}</td>

            <td>{{ server.cur_tasks }}</td>
        </tr>

        {% endfor %}
        </table>
    {% endif %}
</div>

{% endblock %}