{% extends "base.html" %}

{% block title %}
    <a href="/servers">Servers</a> - server details
{% endblock %}

{% block body %}

<div align="center">

    {% if server %}
        <form action="/servers/{{ server.id }}" method="post">
        {{ form.hidden_tag() }}
        <table class="table table-hover table-striped table-bordered" style="max-width:50% !important; margin:0 auto !important;">
            <tr>
                <td><b>IP/FQDN:</b></td>
                <td>{{ form.ip }}
                    {% if form.ip.errors %}
                        <br><font color="red">{{ form.ip.errors | join(', ') }}</font>
                    {% endif %}</td>
                </tr>

                <tr>
                    <td><b>Alias:</b></td>
                    <td>{{ form.alias }}
                    {% if form.alias.errors %}
                        <br><font color="red">{{ form.alias.errors | join(', ') }}</font>
                    {% endif %}</td>
                </tr>

                <tr>
                    <td><b>Is active:</b></td>
                    <td>{{ form.is_active }}</td>
                </tr>

                <tr>
                    <td><b>Max tasks:</b></td>
                    <td>{{ form.max_tasks }}
                    {% if form.max_tasks.errors %}
                        <br><font color="red">{{ form.max_tasks.errors | join(', ') }}</font>
                    {% endif %}</td>
                </tr>

                <tr>
                    <td><b>Cur tasks:</b></td>
                    <td>{{ server.cur_tasks }}</td>
                </tr>
            </table>

            <br><input type="submit" value="edit" class="btn">
            </form>

    {% else %}
        <div align="center">
            <h1>Wrong server id!</h1>
        </div>
    {% endif %}

</div>

{% endblock %}