{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block body %}

<div align="center">
    {% if server_list %}
        <h3>Servers state</h3>

            <table class="table table-hover table-striped table-bordered table-center" style="max-width:50% !important; margin:0 auto !important;">

                <tr>
                    <td><b>Server</b></td>
                    <td><b>IP</b></td>
                    <td><b>User</b></td>
                    <td><b>Max tasks</b></td>
                    <td><b>Cur tasks</b></td>
                </tr>

            {% for server in server_list %}
                {% if not server.state %}
            <tr class="error">
                {% elif server.max_tasks == server.cur_tasks %}
            <tr class="warning">
                {% else %}
            <tr>
                {% endif %}
                        <td>{{ server.alias }}</td>
                        <td>{{ server.ip }}</td>
                        <td>{{ server.name }}</td>
                        <td>{{ server.max_tasks }}</td>
                        <td>{{ server.cur_tasks }}</td>
                </tr>

            {% endfor %}

            </table>

    {% endif %}
</div>

{% endblock %}