{% extends "base.html" %}

{% block title %}<a href="/tasks">Tasks</a> - {{ task.taskname }} {% endblock %}

{% block body %}

<div align="center">

	{% if form %}
		<form action="/tasks/{{ task.id }}" method="post">
			{{ form.hidden_tag() }}
	
		    <p>
				<b>Choose environment:</b><br>
				{{ form.deployment_name }}<br>
			</p>
	
		    <p><input type="submit" value="clean" class="btn"></p>
		</form>
	{% else %}
		Active environments not found<br><br>
		<a href="/tasks">task list</a>
	{% endif %}

	{% if form.errors %}
	    {{ form.errors }}
	{% endif %}

</div>

{% endblock %}
