{% extends "base.html" %}

{% block title %}<a href="/tasks">Tasks</a>  - {{ task.taskname }} {% endblock %}

{% block body %}

<div align="center">
	<form action="/tasks/{{ task.id }}" method="post">
		{{ form.hidden_tag() }}
		<p>
			<b>DeploymentName:</b><br>
			{{ form.deployment_name(size=20) }}<br>
			{% if form.deployment_name.errors %}
				<font color="red">{{ form.deployment_name.errors | join(', ') }}</font>
			{% endif %}
		</p>
	   
		<p>
			<b>URL(file/ISO/torrent):</b><br>
			<a href="http://product-jenkins-reports.vm.mirantis.net/">MOS ISOs</a><br>
			{{ form.iso_url(size=150) }}<br>
			{% if form.iso_url.errors %}
				<font color="red">{{ form.iso_url.errors | join(', ') }}</font>
			{% endif %}
		</p>
	   
		<p>
			<b>Count of cluster nodes:</b><br>
			(including Fuel node)<br>
			{{ form.node_count }}<br>
			{% if form.node_count.errors %}
				<font color="red">{{ form.node_count.errors | join(', ') }}</font>
			{% endif %}
		</p>
		
		<p>
			<b>Number of CPU on slave nodes:</b><br>
			{{ form.slave_node_cpu }}<br>
		</p>
	
		<p>
			<b>Amount of memory on slave node:</b><br>
			{{ form.slave_node_mem }}<br>
		</p>
		
	    <p>
			<b>Days to keep ENV:</b><br>
			{{ form.keep_days }}<br>
			{% if form.keep_days.errors %}
				<font color="red">{{ form.keep_days.errors | join(', ') }}</font>
			{% endif %}
		</p>
	   
	    <p><input class="btn" type="submit" value="run"></p>
	</form>
</div>

{% endblock %}
