{% extends "base.html" %}

{% block title %}<a href="/tasks">Tasks</a> - {{ task.taskname }} {% endblock %}

{% block body %}

<div align="center">

    {% if form %}
        <form action="/tasks/{{ task.id }}" method="post">
            {{ form.hidden_tag() }}

            <p>
                <h3>Delete environment</h3>
                {{ form.deploy_name }}<br>
            </p>

            <p><input type="submit" value="clean" class="btn btn-danger"></p>
        </form>
    {% else %}
        <h1>Active environments not found</h1>
    {% endif %}

</div>

{% endblock %}