{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div align="center">
    <h3>All users</h3>
    {% if user_list %}
        <table class="table table-hover table-striped table-bordered table-center" style="max-width:50% !important; margin:0 auto !important;">
            <tr>
                <td><b>#</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Is active</b></td>
                <td><b>Is admin</b></td>
            </tr>

            {% for user in user_list %}
            <tr>
                <td><a href="/users/{{ user.id }}">#{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_admin }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

</div>

{% endblock %}
